@import 'reset.css';

:root {
  --font-scale: 1.3;
  --font-size-base: clamp(1rem, 2.5vw, 1.5rem);
  --font-size-h3: calc(var(--font-size-base) * var(--font-scale));
  --font-size-h2: calc(var(--font-size-h3) * var(--font-scale));
  --font-size-h1: calc(var(--font-size-h2) * var(--font-scale));
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

p, h1, h2, h3 {
  margin-top: 0.5em;
}

p, a {
  font-size: var(--font-size-base);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.featured-article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & article {
    flex: 1 1 500px;

    & img {
      width: 100%;
    }
  }

  & section {
    flex: 1 1 200px;
  }
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
